body:not(.is-mobile) .reader-mode {
  color: var(--text-muted);
  background-color: var(--color-base-20);
}

.reader-mode {
  font-family: "New York", "Georgia", ui-serif, serif;

  h1,
  h2,
  h3 {
    text-align: center;
  }

  p:not(:has(img)) {
    text-indent: 20px;
    letter-spacing: 0.25px;
  }

  .el-p p strong:only-child {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.sepia {
  color: var(--text-normal);
  filter: sepia(50%);
}
