body.is-mobile.is-ios {
  --font-ui-smaller: calc(var(--font-text-size) * 0.8 + 1px);
  --font-ui-small: calc(var(--font-text-size) * 0.937 + 1px);
  --font-ui-medium: calc(var(--font-text-size) + 1px);
  --font-ui-large: calc(var(--font-text-size) * 1.2 + 1px);

  .markdown-preview-view,
  .markdown-source-view {
    font-size: calc(var(--font-text-size) + 1px);
  }
}

/********** Top Bar **********/

body.is-mobile {
  .view-actions {
    padding: 0;
    height: var(--view-header-height);
  }
  .view-action.clickable-icon {
    width: var(--view-header-height);
    height: var(--view-header-height);
  }
  .view-header-title-container {
    height: var(--view-header-height);
  }

  .workspace .mod-root .workspace-leaf .view-header {
    height: fit-content;
  }
}

body.is-phone {
  &:not(.quick-mode-switch-off) .mod-root .workspace-leaf-content[data-type="markdown"] .view-actions button:nth-last-child(2) {
    position: fixed;
    right: max(var(--safe-area-inset-right), 16px);
    bottom: 16px;
    backdrop-filter: blur(32px);
    border: var(--border-width) solid var(--background-modifier-border);
    border-radius: 100%;
    background-color: rgb(from var(--background-secondary) r g b / 50%);
    padding: 12px;
    width: 44px;
    height: 44px;
    color: var(--text-muted);
  }

  &:not(.transparent-nav-off):not(.mod-toolbar-open):not(.quick-mode-switch-off) .mod-root .view-actions button:nth-last-child(2) {
    margin-bottom: 80px;
  }

  &:not(.transparent-nav-off) .workspace .mod-root .workspace-leaf .view-header {
    position: fixed;
    background-color: transparent;
    padding-top: var(--safe-area-inset-top);
    width: 100%;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      backdrop-filter: blur(16px) saturate(1.5);
      background-color: rgb(from var(--background-primary) r g b / 75%) !important;
      width: 100%;
      height: 100%;
      content: "";
    }
  }

  &:not(.transparent-nav-off) {
    .view-content > .markdown-reading-view > div:first-child {
      padding-top: calc(var(--safe-area-inset-top) + var(--view-header-height) + 16px);
    }

    .view-content .cm-sizer {
      padding-top: calc(var(--safe-area-inset-top) + var(--view-header-height) + 8px);
    }

    .mod-root .view-content > div:not(.markdown-source-view):not(.markdown-reading-view):not(.canvas-wrapper):not(.empty-state) {
      padding-top: calc(var(--safe-area-inset-top) + var(--view-header-height));
    }
  }

  &.transparent-nav-off .mod-root .view-header {
    padding-top: var(--safe-area-inset-top);
  }

  &:not(.ios-style-header) {
    .mod-root .view-header:has(.view-header-breadcrumb) {
      .view-header-left {
        display: none;
      }

      .view-header-title-container {
        padding: 0 8px;
      }
    }
  }
  .mod-root {
    .view-header-left,
    .view-header-title-container {
      flex-grow: 0;
      animation: fadeIn var(--anim-duration-fast);
    }

    .view-header-title-parent .view-header-breadcrumb {
      padding: 0;
    }

    .view-header-title-parent .view-header-breadcrumb-separator,
    .view-header-title-parent .view-header-breadcrumb {
      opacity: 0.5;
      color: var(--text-normal);
      padding: 0;
    }

    .view-header-title-parent:not(:empty) {
      display: flex;
      align-items: center;
      gap: 4px;
      opacity: 1;
    }

    .view-header-breadcrumb:first-child {
      opacity: 1;
      color: var(--interactive-accent);
      font-weight: bold;
    }
  }
}

/********** Pull Action **********/

.pull-action {
  backdrop-filter: blur(32px);
  animation: fadeInDown var(--anim-duration-fast);
  box-shadow: var(--shadow-s);
  border: var(--border-width) solid var(--background-modifier-border);
  background-color: var(--modal-background);
  padding: 12px 24px;
  width: fit-content;
  font-weight: 600;
}

/********** Bottom Bar **********/

body.is-mobile {
  &:not(.hide-tabs-count-off) {
    .mobile-navbar-action:nth-child(4) .clickable-icon::before {
      background-color: var(--icon-color);
      width: 24px;
      height: 24px;
      content: "";
      -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtY29weSI+PHJlY3Qgd2lkdGg9IjE0IiBoZWlnaHQ9IjE0IiB4PSI4IiB5PSI4IiByeD0iMiIgcnk9IjIiLz48cGF0aCBkPSJNNCAxNmMtMS4xIDAtMi0uOS0yLTJWNGMwLTEuMS45LTIgMi0yaDEwYzEuMSAwIDIgLjkgMiAyIi8+PC9zdmc+");
      -webkit-mask-position: 50%;
      -webkit-mask-size: 100%;
      -webkit-mask-repeat: no-repeat;
    }

    .mobile-navbar-tabs-action {
      display: none;
    }
  }

  .workspace-drawer .nav-header {
    backdrop-filter: blur(32px);
  }

  .mobile-navbar-action {
    display: flex;
    justify-content: center;
  }

  .mobile-toolbar-option {
    color: var(--text-normal);
  }
  .mobile-toolbar-options-list {
    padding: 0;
  }

  .nav-buttons-container {
    justify-content: space-between;
    padding: 0;
  }
  .nav-action-button {
    flex-grow: 0 !important;
  }

  .mobile-navbar,
  .workspace-drawer .nav-header {
    padding: 4px max(var(--safe-area-inset-right), 16px) max(4px, var(--safe-area-inset-bottom)) max(var(--safe-area-inset-left), 16px);
    width: 100%;
  }
}

body.is-mobile:not(.transparent-nav-off) {
  &.theme-light .mobile-toolbar {
    background-color: rgb(209, 211, 218);

    .mobile-navbar-action .clickable-icon {
      filter: drop-shadow(0 0 4px white);
    }
  }
  &.theme-dark .mobile-toolbar {
    background-color: rgb(43, 43, 43);

    .mobile-navbar-action .clickable-icon {
      filter: drop-shadow(0 0 4px black);
    }
  }

  .mobile-navbar,
  .workspace-drawer .nav-header {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--layer-status-bar);
    background-color: transparent;
  }

  .mobile-navbar::before {
    position: absolute;
    z-index: -1;
    background-color: var(--background-primary);
    mask: linear-gradient(to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.013) 1.8%, hsla(0, 0%, 0%, 0.049) 3.2%, hsla(0, 0%, 0%, 0.104) 4.6%, hsla(0, 0%, 0%, 0.175) 6.2%, hsla(0, 0%, 0%, 0.259) 8.1%, hsla(0, 0%, 0%, 0.352) 10.7%, hsla(0, 0%, 0%, 0.45) 14.1%, hsla(0, 0%, 0%, 0.55) 18.7%, hsla(0, 0%, 0%, 0.648) 24.5%, hsla(0, 0%, 0%, 0.741) 31.9%, hsla(0, 0%, 0%, 0.825) 41%, hsla(0, 0%, 0%, 0.896) 52.2%, hsla(0, 0%, 0%, 0.951) 65.6%, hsla(0, 0%, 0%, 0.987) 81.4%, hsl(0, 0%, 0%) 100%);
    inset: -16px 0 0;
    pointer-events: none;
    content: "";
  }
}

body.is-phone:not(.transparent-nav-off) {
  &.theme-light {
    .workspace-drawer .nav-header {
      background-color: rgb(from var(--background-secondary) r g b / 50%);
    }
  }
  &.theme-dark {
    .workspace-drawer .nav-header {
      background-color: rgb(from var(--background-primary) r g b / 75%);
    }
  }
}

body.is-tablet {
  &.theme-dark {
    .workspace-drawer .nav-header {
      background-color: rgb(from var(--background-primary-alt) r g b / 75%);
    }
    .workspace-drawer.is-pinned .nav-header {
      background-color: rgb(from var(--background-primary) r g b / 75%);
    }
  }
  .nav-buttons-container {
    padding: 0;
  }
}

/********** Image Viewer **********/

body.is-mobile {
  .mobile-image-viewer {
    backdrop-filter: blur(32px);
    animation: var(--anim-duration-fast) fadeInScale;
    background-color: var(--workspace-background-translucent);
  }
  .mobile-image-viewer img {
    border-radius: 0;
  }
}

/********** Tab Switcher **********/

body.is-phone {
  .mobile-navbar-tabs-action {
    border-width: var(--icon-l-stroke-width);
    border-radius: 30%;
    width: calc(var(--icon-size) - 2px);
    height: calc(var(--icon-size) - 2px);
  }

  .mobile-tab-switcher {
    justify-content: flex-end;
    animation: none !important;
  }

  .mobile-tab-switcher-scroll {
    padding-top: 0;
    height: unset;
    max-height: 80vh;
  }
  .mobile-tab-switcher-scroll::before {
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(32px);
    box-shadow: var(--shadow-l);
    border-radius: 32px 32px 0 0;
    background-color: var(--modal-background);
    width: 100%;
    height: 100%;
    content: "";
  }
  .mobile-tab-wrapper {
    z-index: 2;
  }

  .mobile-tab-switcher-menubar {
    padding: 4px max(var(--safe-area-inset-right), 16px) max(4px, var(--safe-area-inset-bottom)) max(var(--safe-area-inset-left), 16px);
  }
  .mobile-tab-switcher-menubar > div:not(:last-child) {
    z-index: 2;
  }
  .mobile-tab-switcher-menubar .mobile-tab-switcher-menu-spacer:last-child .clickable-icon::before {
    position: fixed;
    z-index: 1;
    inset: 0;
    content: "";
  }
}

/********** New iOS Header **********/

body.is-phone.is-ios.ios-style-header {
  &.show-inline-title .view-header-title,
  &.show-inline-title .view-header-title-parent .view-header-breadcrumb-separator:last-child {
    visibility: hidden;
  }

  .mod-root .view-header {
    padding: 0 8px;
  }

  .mod-root .view-header-breadcrumb:first-child {
    font-weight: normal;
  }
  .mod-root .view-header-breadcrumb {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .mod-left-split-toggle {
    padding: 10px 0;
    min-width: var(--icon-xs);
    width: var(--icon-xs);
    position: relative;

    svg {
      display: none;
    }

    &::before {
      background-color: var(--icon-color);
      content: "";
      width: var(--icon-m);
      height: var(--icon-m);
      -webkit-mask-position: 50% 50%;
      -webkit-mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIyMSIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDEyIDIxIj48cGF0aCBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii44NSIgZD0iTTAgMTAuMzcyYzAgLjM5Ny4xNDEuNzMyLjQ1OSAxLjA0Nmw5LjEzNyA4LjkzNGMuMjU2LjI2Ni41NzUuMzk1Ljk1My4zOTVhMS4zNSAxLjM1IDAgMCAwIDEuMzcyLTEuMzU0YzAtLjM4Mi0uMTYzLS43MTgtLjQyMi0uOTgzbC04LjI0LTguMDQgOC4yNC04LjAzNmMuMjYxLS4yNjYuNDIyLS42MS40MjItLjk4QTEuMzQ5IDEuMzQ5IDAgMCAwIDEwLjU0OSAwYy0uMzggMC0uNjk3LjEyOS0uOTUzLjM4NUwuNDU5IDkuMzI3QTEuMzk3IDEuMzk3IDAgMCAwIDAgMTAuMzcyWiIvPjwvc3ZnPg==");
    }
  }

  .view-actions .view-action:last-child {
    svg {
      display: none;
    }

    &::before {
      background-color: var(--icon-color);
      content: "";
      width: var(--icon-size);
      height: var(--icon-size);
      -webkit-mask-position: 50% 50%;
      -webkit-mask-size: 100% 100%;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDI0IDI0Ij48ZyBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii44NSI+PHBhdGggZD0iTTEyIDIzYzYuMDcyIDAgMTEtNC45MjggMTEtMTFTMTguMDcyIDEgMTIgMSAxIDUuOTI4IDEgMTJzNC45MjggMTEgMTEgMTFabTAtMS44MzNBOS4xNTkgOS4xNTkgMCAwIDEgMi44MzMgMTIgOS4xNTkgOS4xNTkgMCAwIDEgMTIgMi44MzMgOS4xNTkgOS4xNTkgMCAwIDEgMjEuMTY3IDEyIDkuMTYgOS4xNiAwIDAgMSAxMiAyMS4xNjdaIi8+PHBhdGggZD0iTTE3LjAyNiAxMy41NTNjLjg1MSAwIDEuNTYzLS43MDEgMS41NjMtMS41NjQgMC0uODYzLS43MTItMS41NjQtMS41NjMtMS41NjRhMS41NjUgMS41NjUgMCAwIDAgMCAzLjEyOFptLTUuMDM2IDBhMS41NjUgMS41NjUgMCAwIDAgMC0zLjEyOCAxLjU2NSAxLjU2NSAwIDAgMCAwIDMuMTI4Wm0tNS4wMjYgMGExLjU2MyAxLjU2MyAwIDAgMCAwLTMuMTI4IDEuNTY1IDEuNTY1IDAgMCAwIDAgMy4xMjhaIi8+PC9nPjwvc3ZnPg==");
    }
  }
}
