/********** iOS, iPadOS, macOS: Icons **********/
body.mod-macos {
  *:has(> svg):not(.collapse-icon)::before,
  .search-input-container::before {
    font-family: var(--font-interface-theme);
    line-height: var(--icon-size);
    display: flex;
    justify-content: center;
    font-size: calc(var(--icon-size) - 3px);
    width: var(--icon-size);
    font-weight: 400 !important;
  }

  &:not(.hide-tabs-count-off) .mobile-navbar-tabs-action {
    color: transparent;
    border: none;
    font-weight: unset;
    width: var(--icon-size);
    height: var(--icon-size);
    justify-content: unset;

    &::before {
      content: "􀐅";
      font-family: var(--font-interface-theme);
      width: var(--icon-size);
      line-height: var(--icon-size);
      text-align: center;
      font-size: calc(var(--icon-size) - 3px);
      color: var(--icon-color);
    }
  }

  *:has(> .sidebar-left) {
    svg {
      display: none;
    }
    &::before {
      content: "􀏚";
    }
  }
  *:has(> .lucide-folder-closed) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈕";
    }
  }
  *:has(> .lucide-search) {
    svg {
      display: none;
    }
    &::before {
      content: "􀊫";
    }
  }
  *:has(> .lucide-calendar-check) {
    svg {
      display: none;
    }
    &::before {
      content: "􀉉";
    }
  }
  .workspace-tab-header-inner-close-button:has(> .lucide-x) {
    svg {
      display: none;
    }
    &::before {
      content: "􀻀";
    }
  }
  *:has(> .lucide-x) {
    svg {
      display: none;
    }
    &::before {
      content: "􀁡";
    }
  }
  *:has(> .lucide-plus) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅼";
    }
  }
  *:has(> .lucide-chevron-down) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆈";
    }
  }
  *:has(> .sidebar-right) {
    svg {
      display: none;
    }
    &::before {
      content: "􀏛";
    }
  }
  *:has(> .lucide-edit-3) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈊";
    }
  }
  *:has(> .lucide-book-open) {
    svg {
      display: none;
    }
    &::before {
      content: "􀉚";
    }
  }
  *:has(> .lucide-arrow-left) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆉";
    }
  }
  *:has(> .lucide-arrow-right) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆊";
    }
  }
  *:has(> .lucide-more-vertical) {
    svg {
      display: none;
    }
    &::before {
      content: "􀍡";
    }
  }
  *:has(> .lucide-separator-vertical) {
    svg {
      display: none;
    }
    &::before {
      content: "􀤵";
    }
  }
  *:has(> .lucide-separator-horizontal) {
    svg {
      display: none;
    }
    &::before {
      content: "􀾯";
    }
  }
  *:has(> .lucide-picture-in-picture-2) {
    svg {
      display: none;
    }
    &::before {
      content: "􀢌";
    }
  }
  *:has(> .lucide-folder-tree) {
    svg {
      display: none;
    }
    &::before {
      content: "􀫵";
    }
  }
  *:has(> .lucide-plus-circle) {
    svg {
      display: none;
    }
    &::before {
      content: "􀁌";
    }
  }
  *:has(> .lucide-file-down) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈄";
    }
  }
  *:has(> .lucide-file-search) {
    svg {
      display: none;
    }
    &::before {
      content: "􀕹";
    }
  }
  *:has(> .lucide-copy) {
    svg {
      display: none;
    }
    &::before {
      content: "􀉃";
    }
  }
  *:has(> .lucide-arrow-up-right) {
    svg {
      display: none;
    }
    &::before {
      content: "􀮵";
    }
  }
  *:has(> .lucide-folder-open) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈕";
    }
  }
  *:has(> svg > .lucide-file-cog) {
    svg {
      display: none;
    }
    &::before {
      content: "􀵫";
    }
  }
  *:has(> .lucide-trash-2) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈑";
    }
  }
  *:has(> .lucide-calendar-clock) {
    svg {
      display: none;
    }
    &::before {
      content: "􀻤";
    }
  }
  *:has(> .help) {
    svg {
      display: none;
    }
    &::before {
      content: "􀁜";
    }
  }
  *:has(> .lucide-settings) {
    svg {
      display: none;
    }
    &::before {
      content: "􀍟";
    }
  }
  *:has(> .lucide-layers) {
    svg {
      display: none;
    }
    &::before {
      content: "􀰳";
    }
  }
  *:has(> .lucide-file) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈷";
    }
  }
  *:has(> .open-vault) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈣";
    }
  }
  *:has(> .lucide-sliders-horizontal) {
    svg {
      display: none;
    }
    &::before {
      content: "􀌈";
    }
  }
  *:has(> .uppercase-lowercase-a) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅒";
    }
  }
  *:has(> input[type="search"]) {
    &::before {
      content: "􀊫";
      background-color: transparent;
      -webkit-mask-image: none;
    }
  }
  *:has(> .lucide-edit) {
    svg {
      display: none;
    }
    &::before {
      content: "􀣙";
    }
  }
  *:has(> .lucide-layout-dashboard) {
    svg {
      display: none;
    }
    &::before {
      content: "􀇴";
    }
  }
  *:has(> .lucide-folder-search) {
    svg {
      display: none;
    }
    &::before {
      content: "􀬸";
    }
  }
  *:has(> .lucide-file-plus) {
    svg {
      display: none;
    }
    &::before {
      content: "􀣗";
    }
  }
  *:has(> .lucide-files) {
    svg {
      display: none;
    }
    &::before {
      content: "􀐅";
    }
  }
  *:has(> .lucide-ruler) {
    svg {
      display: none;
    }
    &::before {
      content: "􀟀";
    }
  }
  *:has(> .lucide-refresh-cw) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅈";
    }
  }
  *:has(> .lucide-delete) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆛";
    }
  }
  *:has(> .lucide-rotate-ccw) {
    svg {
      display: none;
    }
    &::before {
      content: "􀍿";
    }
  }
  *:has(> .lucide-download-cloud) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈄";
    }
  }
  *:has(> .lucide-folder-plus) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈙";
    }
  }
  *:has(> .lucide-sort-asc) {
    svg {
      display: none;
    }
    &::before {
      content: "􀄬";
    }
  }
  *:has(> .lucide-chevrons-up-down),
  *:has(> .lucide-chevrons-down-up) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆏";
    }
  }
  *:has(> .lucide-list) {
    svg {
      display: none;
    }
    &::before {
      content: "􀋲";
    }
  }
  *:has(> .lucide-git-fork) {
    svg {
      display: none;
    }
    &::before {
      content: "􁆬";
    }
  }
  *:has(> .lucide-wand-2) {
    svg {
      display: none;
    }
    &::before {
      content: "􀜍";
    }
  }
  *:has(> .lucide-link),
  *:has(> .links-coming-in) {
    svg {
      display: none;
    }
    &::before {
      content: "􀉣";
    }
  }
  *:has(> .links-going-out) {
    svg {
      display: none;
    }
    &::before {
      content: "􀒠";
    }
  }
  *:has(> .lucide-bookmark) {
    svg {
      display: none;
    }
    &::before {
      content: "􀉞";
    }
    &.mod-filled::before {
      content: "􀉟";
    }
  }
  *:has(> .lucide-git-merge) {
    svg {
      display: none;
    }
    &::before {
      content: "􀖄";
    }
  }
  *:has(> .lucide-monitor) {
    svg {
      display: none;
    }
    &::before {
      content: "􁏴";
    }
  }
  *:has(> .lucide-send) {
    svg {
      display: none;
    }
    &::before {
      content: "􀤆";
    }
  }
  *:has(> .lucide-bookmark-plus) {
    svg {
      display: none;
    }
    &::before {
      content: "􀉞";
    }
  }
  *:has(> .lucide-alert-triangle) {
    svg {
      display: none;
    }
    &::before {
      content: "􀇾";
    }
  }
  *:has(> .lucide-code-2) {
    svg {
      display: none;
    }
    &::before {
      content: "􁇵";
    }
  }
  *:has(> .lucide-tags) {
    svg {
      display: none;
    }
    &::before {
      content: "􀋡";
    }
  }
  *:has(> .lucide-calendar) {
    svg {
      display: none;
    }
    &::before {
      content: "􀉉";
    }
  }
  *:has(> .lucide-text) {
    svg {
      display: none;
    }
    &::before {
      content: "􁉀";
    }
  }
  *:has(> .lucide-check-square) {
    svg {
      display: none;
    }
    &::before {
      content: "􀃲";
    }
  }
  *:has(> .lucide-forward) {
    svg {
      display: none;
    }
    &::before {
      content: "􀄹";
    }
  }
  *:has(> .lucide-clipboard-check) {
    svg {
      display: none;
    }
    &::before {
      content: "􀟹";
    }
  }
  *:has(> .lucide-menu) {
    svg {
      display: none;
    }
    &::before {
      content: "􀌇";
    }
  }
  *:has(> .lucide-arrow-left-to-line) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅅";
    }
  }
  *:has(> .lucide-arrow-right-to-line) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅆";
    }
  }
  *:has(> .lucide-archive) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈭";
    }
  }
  *:has(> .lucide-file-text) {
    svg {
      display: none;
    }
    &::before {
      content: "􀈿";
    }
  }
  *:has(> .lucide-view) {
    svg {
      display: none;
    }
    &::before {
      content: "􀏭";
    }
  }
  *:has(> .lucide-trello) {
    svg {
      display: none;
    }
    &::before {
      content: "􀏟";
    }
  }
  *:has(> .lucide-table) {
    svg {
      display: none;
    }
    &::before {
      content: "􀏣";
    }
  }
  *:has(> .lucide-server) {
    svg {
      display: none;
    }
    &::before {
      content: "􀓛";
    }
  }
  *:has(> .lucide-file-plus-2) {
    svg {
      display: none;
    }
    &::before {
      content: "􀣗";
    }
  }
  *:has(> .lucide-arrow-up) {
    svg {
      display: none;
    }
    &::before {
      content: "􀄨";
    }
  }
  *:has(> .lucide-arrow-down) {
    svg {
      display: none;
    }
    &::before {
      content: "􀄩";
    }
  }
  *:has(> .lucide-square-kanban) {
    svg {
      display: none;
    }
    &::before {
      content: "􀋳";
    }
  }
  *:has(> .lucide-list-start) {
    svg {
      display: none;
    }
    &::before {
      content: "􀋽";
    }
  }
  *:has(> .lucide-list-end) {
    svg {
      display: none;
    }
    &::before {
      content: "􀋾";
    }
  }
  *:has(> .lucide-external-link) {
    svg {
      display: none;
    }
    &::before {
      content: "􀄯";
    }
  }
  *:has(> .lucide-paintbrush) {
    svg {
      display: none;
    }
    &::before {
      content: "􀎑";
    }
  }
  *:has(> .lucide-pilcrow) {
    svg {
      display: none;
    }
    &::before {
      content: "􀒆";
    }
  }
  *:has(> .lucide-list-plus) {
    svg {
      display: none;
    }
    &::before {
      content: "􀋸";
    }
  }
  *:has(> .lucide-scissors) {
    svg {
      display: none;
    }
    &::before {
      content: "􀉈";
    }
  }
  *:has(> .lucide-clipboard-type) {
    svg {
      display: none;
    }
    &::before {
      content: "􁕜";
    }
  }
  *:has(> .lucide-box-select) {
    svg {
      display: none;
    }
    &::before {
      content: "􀐅";
    }
  }
  *:has(> .lucide-arrow-up-az) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆇";
    }
  }
  *:has(> .lucide-arrow-down-az) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆈";
    }
  }
  *:has(> .lucide-binary) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆃";
    }
  }
  *:has(> .spreadsheet) {
    svg {
      display: none;
    }
    &::before {
      content: "􀏥";
    }
  }
  *:has(> .lucide-terminal) {
    svg {
      display: none;
    }
    &::before {
      content: "􀩼";
    }
  }
  *:has(> .lucide-mic) {
    svg {
      display: none;
    }
    &::before {
      content: "􀢙";
    }
  }
  *:has(> .dice) {
    svg {
      display: none;
    }
    &::before {
      content: "􀺴";
    }
  }
  *:has(> .sheets-in-box) {
    svg {
      display: none;
    }
    &::before {
      content: "􀡿";
    }
  }
  *:has(> .lucide-layout) {
    svg {
      display: none;
    }
    &::before {
      content: "􀏝";
    }
  }
  *:has(> .lucide-pin) {
    svg {
      display: none;
    }
    &::before {
      content: "􀎦";
    }
  }
  *:has(> .lucide-history) {
    svg {
      display: none;
    }
    &::before {
      content: "􀐫";
    }
  }
  *:has(> .refresh-cw-off) {
    svg {
      display: none;
    }
    &::before {
      content: "􀢤";
    }
  }
  *:has(> .lucide-sticky-note) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅶";
    }
  }
  *:has(> .lucide-file-image) {
    svg {
      display: none;
    }
    &::before {
      content: "􀏅";
    }
  }
  *:has(> .lucide-maximize) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅊";
    }
  }
  *:has(> .lucide-minus) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅽";
    }
  }
  *:has(> .lucide-undo-2) {
    svg {
      display: none;
    }
    &::before {
      content: "􀱍";
    }
  }
  *:has(> .lucide-redo-2) {
    svg {
      display: none;
    }
    &::before {
      content: "􀱓";
    }
  }
  *:has(> .lucide-grid) {
    svg {
      display: none;
    }
    &::before {
      content: "􀓗";
    }
  }
  *:has(> .snap-to-object) {
    svg {
      display: none;
    }
    &::before {
      content: "􀩶";
    }
  }
  *:has(> .lucide-lock) {
    svg {
      display: none;
    }
    &::before {
      content: "􀎠";
    }
  }
  *:has(> .lucide-bold) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅓";
    }
  }
  *:has(> .lucide-italic) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅔";
    }
  }
  *:has(> .lucide-strikethrough) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅖";
    }
  }
  *:has(> .lucide-highlighter) {
    svg {
      display: none;
    }
    &::before {
      content: "􀦇";
    }
  }
  *:has(> .lucide-sigma) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅮";
    }
  }
  *:has(> .lucide-eraser) {
    svg {
      display: none;
    }
    &::before {
      content: "􁝀";
    }
  }
  *:has(> .lucide-list-ordered) {
    svg {
      display: none;
    }
    &::before {
      content: "􀋴";
    }
  }
  *:has(> .lucide-heading-1) {
    svg {
      display: none;
    }
    &::before {
      content: "􀃊";
    }
  }
  *:has(> .lucide-heading-2) {
    svg {
      display: none;
    }
    &::before {
      content: "􀃌";
    }
  }
  *:has(> .lucide-heading-3) {
    svg {
      display: none;
    }
    &::before {
      content: "􀃎";
    }
  }
  *:has(> .lucide-heading-4) {
    svg {
      display: none;
    }
    &::before {
      content: "􀃐";
    }
  }
  *:has(> .lucide-heading-5) {
    svg {
      display: none;
    }
    &::before {
      content: "􀃒";
    }
  }
  *:has(> .lucide-heading-6) {
    svg {
      display: none;
    }
    &::before {
      content: "􀃔";
    }
  }
  *:has(> .lucide-quote) {
    svg {
      display: none;
    }
    &::before {
      content: "􀋿";
    }
  }
  *:has(> .lucide-code) {
    svg {
      display: none;
    }
    &::before {
      content: "􀤘";
    }
  }
  *:has(> .lucide-sigma-square) {
    svg {
      display: none;
    }
    &::before {
      content: "􀃪";
    }
  }
  *:has(> .lucide-library) {
    svg {
      display: none;
    }
    &::before {
      content: "􀭥";
    }
  }
  *:has(> .lint-general) {
    padding-top: 0;
    svg {
      display: none;
    }
    &::before {
      content: "􀍟";
    }
  }
  *:has(> .lint-yaml) {
    padding-top: 0;
    svg {
      display: none;
    }
    &::before {
      content: "􀁌";
    }
  }
  *:has(> .lint-heading) {
    padding-top: 0;
    svg {
      display: none;
    }
    &::before {
      content: "􁘿";
    }
  }
  *:has(> .lint-footer) {
    padding-top: 0;
    svg {
      display: none;
    }
    &::before {
      content: "􀓢";
    }
  }
  *:has(> .lint-content) {
    padding-top: 0;
    svg {
      display: none;
    }
    &::before {
      content: "􀉆";
    }
  }
  *:has(> .lint-whitespace) {
    padding-top: 0;
    svg {
      display: none;
    }
    &::before {
      content: "􁁺";
    }
  }
  *:has(> .lint-paste) {
    padding-top: 0;
    svg {
      display: none;
    }
    &::before {
      content: "􀟹";
    }
  }
  *:has(> .lint-custom) {
    padding-top: 0;
    svg {
      display: none;
    }
    &::before {
      content: "􀫕";
    }
  }
  *:has(> .lint-debug) {
    padding-top: 0;
    svg {
      display: none;
    }
    &::before {
      content: "􀯔";
    }
  }
  *:has(> .lucide-info) {
    svg {
      display: none;
    }
    &::before {
      content: "􀅴";
    }
  }
  *:has(> .lucide-chevron-left) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆉";
    }
  }
  *:has(> .lucide-chevron-right) {
    svg {
      display: none;
    }
    &::before {
      content: "􀆊";
    }
  }
  *:has(> .lucide-eye) {
    svg {
      display: none;
    }
    &::before {
      content: "􀋭";
    }
  }
}
